.connexion {
margin-top:100px;
margin-bottom: 100px;
}
.titre1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgba(6, 60, 177, 0.842);
}
.form-group{
  margin-top: 30px;
}
Input{
  margin-top: 10px;
  height: 50px;
}
.connexion2{
  margin-top:230px;
  margin-bottom: 100px;
  text-align: center;
  }
  .text1{
    margin-bottom: 30px;
  }
  